/* Styles for my resume */

/* default style for body */
body{
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* Name Styling */
h1{
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
}
/* Title styling */
.title{
  text-transform: uppercase;
  text-align: center;
}


/* Section title styling */
.section-title {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
}

/* Job title styling */
h3 {
  font-weight: 600;
  font-size: 1.5em;
}


/* Job organization titling */
h4 {
  font-weight: 400;
  font-size: 1em;
}

/* Job dates styling */
h5{
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
}

/* Contact Info, Skills, Education styling */
ul {
  font-size: 1em;
}
